  
  .row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .square {
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: 1px;
    margin-top: 1px;
    text-align: center;
    font: 20px "Century Gothic", Futura, sans-serif, bold;
    width: 34px;
    border-radius: 3px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  .square:hover {
      background-color: #F0F0F8;
      color: black;
  }
  
  .square:focus {
    outline: none;
  }
  
  .screen {
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    border-radius: 3px;
    padding: 2px;
    text-align: right;
    width: 133px;
  }
  